<ion-card>
  <img [src]="basepath + image"/>
  <ion-card-content>
    <ion-card-title>
      {{name}}
      </ion-card-title>
    <p>
      <b>Description: </b>{{description}}
    </p>
    <p>
      <b>Language: </b>{{language}}
    </p>
    <ion-list>
      <ion-list-header>
        Categories
      </ion-list-header>
      <ion-item *ngFor="let category of categories"><p>{{category}}</p></ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
