<ion-header>
  <ion-navbar>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="search">
    <ion-item>
      <ion-label color="primary" stacked>Buscar</ion-label>
      <ion-input placeholder="Escriba algo para buscar" [(ngModel)]="toSearch"></ion-input>
    </ion-item>
    <input type="button" (click)="searchSigns()" value="SEARCH">
  </div>
  <div class="results">
    <sign-card *ngFor="let sign of searchResult" [name]="sign.name" [description]="sign.description" [image]="sign.image" [basepath]="basepath" [language]="sign.language" [categories]="sign.categories"></sign-card>
  </div>
</ion-content>
