<ion-header>
  <ion-navbar>
    <ion-title>
      Select Language
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <background-card *ngFor="let language of languages" [name]="language.name" [initials]="language.key" [image]="language.image" [basepath]="basePath" (click)="setLanguage(language.key)"></background-card>
</ion-content>
